@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Mochiy Pop One', sans-serif;
}

body
{
    background-image: linear-gradient(to right bottom, #00929f, #00ada2, #00c68d, #4edc62, #a8eb12);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.startbtn
{
    /* display: none; */
    display: flex;
    margin: auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 250px;
}

#start
{
    font-size: 30px;
    border-radius: 15px;
    /* letter-spacing: 1px; */
    width: 220px;
    height: 85px;
    text-decoration: none;
    padding: 7px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: none;
    box-shadow: 4px 4px rgb(199, 5, 253);
    background-color: rgba(0,0,124,45%);
    animation: btnanime 0.6s ease-out forwards;
    
}
@keyframes btnanime
{
    0%{transform: translateX(-300px);}
    0%{opacity: 0;}
    0%{background-color: white;}
}
#start:hover
{
    transform: scale(1.3);
}
#start:active
{
    transform: scale(0.8);
    transition: 0.2s;
}
.emptyspace
{
    height: 300px;
}
.box
{
    font-size: 20px;
    display: none;
    /* display: flex; */
    flex-direction: column;
    margin: auto;
    margin-top: -190px;
    /* border:2px solid black; */
    height: 420px;
    width: 345px;
    animation:up-to-down 0.6s ease-out forwards;
    background-color: white;
    border-radius: 20px;
    padding:10px;
    background-image: linear-gradient(to top, #e654ed, #ce44dd, #b533cc, #9e22bc, #860cac);
    box-shadow: 3px 3px black;
}
@keyframes up-to-down
{
    0%{transform: translateY(50px);}
}

.qno
{
    justify-content: left;
    font-size:16px;
    font-weight: bold;
}
.question
{
    margin-bottom: 20px;
    color: white;
}

.line
{
    width:330px;
    background-color: gray;
    border-bottom: 2px solid white;
    opacity: 65%;
}

.options
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#optiona,#optionb,#optionc,#optiond
{
    margin-bottom: 15px;
    padding-left: 7px;
    height:35px;    
    line-height: 35px;
    text-align: left;
    border-radius: 11px;
    text-decoration: none;
    border: none;
}
#optiona:hover,#optionb:hover,#optionc:hover,#optiond:hover
{
    background-color: rgb(92, 225, 243);
    border: 2px solid white;
    transform: scale(0.9);
}
/* #optiona:active,#optionb:active,#optionc:active,#optiond:active
{
    transform: scale(0.9);
} */
#optiona:focus,#optionb:focus,#optionc:focus,#optiond:focus
{
    background-color: rgb(92, 225, 243);
}

.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#prev,#next
{
    margin-top: 15px;
    height:50px;
    width:50px;
    border-radius: 50%;
    box-shadow: 2px 2px black;
}
#prev:hover,#next:hover
{
    transform: scale(1.1);
}
.arrow
{
    height:30px;
    width:30px;
}

.resultcontainer
{
    display: flex;
    font-size: 25px;
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
}