body{
    background-image: linear-gradient(to right,#d2430f 19%,#37623f 42%,#00d4ff 100%);
}

.container {
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
    perspective: 1000px;
}

.card {
	position: relative;
	width: 8rem;
	height: 8rem;
	margin: 0.5rem;
	text-align: center;
	line-height: 8rem;
	color: #ecf0f1;
	border-radius: 0.8rem;
 transform-style: preserve-3d;
}

.face {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 0.8rem;
	background-size: cover;
	background-position: center center;
	backface-visibility: hidden;
	transition: transform 0.5s ease-in-out;
}

.face--front {
	background: #2c3e50;
	font-size: 3rem;
}

.face--back {
	background: #2c3e50;
	font-size: 1.5rem;
	transform: rotateY(180deg);
}

.card:hover .face--front {
	transform: rotateY(-180deg);
}

.card:hover .face--back {
	transform: rotateY(0deg);
}